* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TopBanner {
    padding: 10px;
    background: #ddd;
    overflow: hidden;
    height: 100%;
    transition: 0.5s;
}

.TopBanner.on {
    height: 0;
}
